@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; /* dark blue slate */
  --foreground: #e2e8f0; /* light slate */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e2e8f0;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'InterVariable', sans-serif;
}
